{% extends "base.html" %}
{% block title %}
  Список родов 
{% endblock %}
{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'flora:families' %}">Families</a></li>
      {% comment %} <li class="breadcrumb-item"><a href="/flora/Athyriáceae Alston/102/">Family: {{ family }}</a></li> {% endcomment %}
{% comment %} x      <li class="breadcrumb-item"><a href="{% url 'flora:genera' family pk %}">Family: {{ family }}</a></li> 
{% endcomment %}

      <li class="breadcrumb-item"><a href="#">{{ family }}</a></li>
      
    </ol>
  </nav>
  
  <h1>Семейство {{ family.name_full }} &mdash; {{ family.name_ru }} </h1>
  <hr>
  <h4>Описание семейства:</h4>
  <p>{{ family.description }}</p>
  <hr>
  <h4>Распространение семейства:</h4>
  <p>{{ family.distribution }}</p>
  <hr>
  
  <h2>Алфавитный список родов семейста {{ family.name }} </h2>
  <ul>
    {% for genus in genera_list %}
      <li>
        <h5><a href="{% url 'flora:species' family  genus.name %}"> 
        {{ genus.name_full }}</a> &mdash;
        {{ genus.name_rus|truncatewords:10 }}, Индекс: {{ genus.pk }}
       </h5>
      </li>
      {% if not forloop.last %}
        <hr>
      {% endif %}
    {% endfor %}
  </ul>
{% endblock %}
<!-- <a href="{% url 'flora:family' ice_cream.id %}">подробнее</a>
-->