{% extends "base.html" %}

{% block title %}
{{ region.name }} область, районы
{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'oka_basin:regions' %}">Области</a></li>
    <li class="breadcrumb-item"><a href="#">{{ region.name }}</a></li>    
  </ol>
</nav>
{% endblock %}


{% block content %}
  <h1>{{ region.name }} область  ({{ region.name_en }} region) </h1>
  <hr>
  <h4>Описание области:</h4>
  <p>{{ region.description }}</p>
  <hr>
  
  <h2>Алфавитный список районов:  </h2>
  <ul>
    {% for district in district_list %}
      <li>
        <a href="{% url 'oka_basin:species' region.name district.name %}">  {% comment %}"{% url 'flora:species' family  genus.name %}">  
          {% endcomment %}
         {{ district.name }} ({{ district.id }} ),</a> 
          {{ district.name_en }} 
      </li>
      {% if not forloop.last %}
      
      {% endif %}
    {% endfor %}
  </ul>
{% endblock %}


{% block maps %}
  {% include "includes/maps_open.html" %}
    {% block region_borders %}

      {% for region_item in region_list %}
        <g>
        <title>{{ region_item.name }} область</title>
        <a href="{% url 'oka_basin:districts' region_item.name %}">    
            <path 
            stroke-linecap="square"  fill-opacity="0.1" stroke="black"  stroke-width="4" stroke-linejoin="bevel"
            vector-effect="none"  fill-rule="evenodd" d=" {{ region_item.svg_path }} "
              {% if region.name == region_item.name %}
              
                fill="gray"
              {% else  %}
                fill="lightgray"
              {% endif %}
            />
        </a>
        </g>
        {% endfor %}  


  {% for district in district_list %}
    <g>
    <title>{{ district.name }} район</title>
    <a href="{% url 'oka_basin:species' region.name district.name %}">    
        <path
        stroke-linecap="square" fill="brown" fill-opacity="0.6" stroke="black"  stroke-width="2" stroke-linejoin="bevel"
        vector-effect="none"  fill-rule="evenodd" d=" {{ district.svg_path }} "/>
    </a>
    </g>
    {% endfor %}  

</g>
  {% endblock %}
{% include "includes/maps_close.html" %}
  
{% endblock %}
