{% extends "base.html" %}
{% block title %}
  Области
{% endblock %}
{% block content %}
  <h1>Области бассейна реки Ока</h1>
  <hr>
  <h2>Cписок областей бассейна реки Ока</h2>
  <ul>
    {% for region in region_list %}
      <li><h5>
        <a href="{% url 'oka_basin:districts' region.name %}">
        {%comment%}
          <a href="{% url 'oka_basin:regions' region.id %}"> 
          {%endcomment%}
        {{ region.id }}  &dash;  
        {{ region.name }} </a>
      </h5>
      </li>
      {% if not forloop.last %}
        <hr>
      {% endif %}
    {% endfor %}
  </ul>
{% endblock %}
<!-- <a href="{% url 'flora:family' ice_cream.id %}">подробнее</a>
-->