{% extends "base.html" %}

{% block title %}
  Области
{% endblock %}

{% block breadcrumb %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'oka_basin:regions' %}">Области</a></li>  
    </ol>
  </nav>
{% endblock %}

{% block content %}

<h1>Области бассейна реки Ока</h1>

  <div class='container-regions'>
  <ul>
    {% for region in region_list %}
      <li><h5>
        <a href="{% url 'oka_basin:districts' region.name %}">
        {%comment%}
          <a href="{% url 'oka_basin:regions' region.id %}"> 
          {%endcomment%}
        {{ region.id }}  &dash;  
        {{ region.name }} </a>
      </h5>
      </li>
      {% if not forloop.last %}
        <hr>
      {% endif %}
    {% endfor %}
  </ul>
</div>
{% endblock %}

{% block maps %}
  {% include "includes/maps_open.html" %}
    {% block region_borders %}

        {% for region in region_list %}
        <g>
        <title>{{ region.name }} область</title>
        <a href="{% url 'oka_basin:districts' region.name %}">    
            <path 
            stroke-linecap="square" fill="#ffffff" fill-opacity="1" stroke="black"  stroke-width="2" stroke-linejoin="bevel"
            vector-effect="none" fill="#939a9c" fill-rule="evenodd" d=" {{ region.svg_path }} "/>
        </a>
        </g>
        {% endfor %}  

    {% endblock %}
  {% include "includes/maps_close.html" %}
  
{% endblock %}