{% extends "oka_basin/oka_basin_maps.html" %}

{% block oka_bassin_title %}
  Области!
{% endblock %}

{% block oka_bassin_content %}

<h1>Области бассейна реки Ока</h1>

  <hr>
  <div class='container-regions'>
  <h2>Cписок областей бассейна реки Ока</h2>
  <ul>
    {% for region in region_list %}
      <li><h5>
        <a href="{% url 'oka_basin:districts' region.name %}">
        {%comment%}
          <a href="{% url 'oka_basin:regions' region.id %}"> 
          {%endcomment%}
        {{ region.id }}  &dash;  
        {{ region.name }} </a>
      </h5>
      </li>
      {% if not forloop.last %}
        <hr>
      {% endif %}
    {% endfor %}
  </ul>
</div>
{% endblock %}


{% block region_borders %}

    {% for region in region_list %}
<g>
  <title>{{ region.name }} область</title>
  <a href="{% url 'oka_basin:districts' region.name %}">    
      <path vector-effect="none" fill="#939a9c" fill-rule="evenodd" d=" {{ region.svg_path }} "/>
  </a>
</g>
{% endfor %}  

{% endblock %}
