{% extends "base.html" %}
{% load static %}
{% block title %}
  Флора бассейна реки Ока
{% endblock %}
{% block content %}
  <h1>Флора бассейна реки Ока. Главная страница.</h1>
  <h2>Сотрудники:</h2>
  <img src="{% static 'img/Andrej_Scherbakov.jpg' %}" alt="Андрей Викторович Щербаков">
  <div>
    <p><b>Андрей Викторович Щербаков </b>- МГУ имени М.В. Ломоносова, Биологический факультет, 
      Кафедра высших растений, ведущий научный сотрудник с 1979г., доктор биологических наук с 2012 года.</p>
      <p><i>Научные интересы: </i>Гидроботаника, сравнительная флористика, охрана и рациональное
         использование растительного покрова, особо охраняемые природные территории, природоохранное образование.</p>
      <p><i>Направление научных исследований: </i>Флора Средней России, 
        флора водоемов бассейна Оки, ключевые ботанические территории Средней России, 
        региональные Красные книги, сосудистые водные растения как организмы-биоиндикаторы, функционирование особо охраняемых природных территорий в Московской и сопредельных областях, интерактивные методы обучения в прикладной экологии и охране природы.</p>
    </div>

{% endblock %}
