{% extends "base.html" %}
{% load static %}
{% block title %}
  Флора бассейна реки Ока
{% endblock %}
{% block content %}
  <h1>Флора бассейна реки Ока. Главная страница.</h1>
  <h2>Сотрудники:</h2>
  <div>
  <img width=140px src="{% static 'img/Andrej_Scherbakov.jpg' %}" alt="Андрей Викторович Щербаков">
  <div>
    <p><b>Андрей Викторович Щербаков </b>- МГУ имени М.В. Ломоносова, Биологический факультет, 
      Кафедра высших растений, ведущий научный сотрудник с 1979г., доктор биологических наук с 2012 года.</p>
      <p><i>Научные интересы: </i>Гидроботаника, сравнительная флористика, охрана и рациональное
         использование растительного покрова, особо охраняемые природные территории, природоохранное образование.</p>
      <p><i>Направление научных исследований: </i>Флора Средней России, 
        флора водоемов бассейна Оки, ключевые ботанические территории Средней России, 
        региональные Красные книги, сосудистые водные растения как организмы-биоиндикаторы, функционирование особо охраняемых природных территорий в Московской и сопредельных областях, интерактивные методы обучения в прикладной экологии и охране природы.</p>
    </div>
  </div>
  <div>
    <img width=140px src="{% static 'img/KazakovaMV.jpg' %}" alt="Марина Васильевна Казакова">
    <div>
      <p><b>Марина Васильевна Казакова </b>- РГУ имени С.А. Есенина, Рязань, Институт естественных наук,
         Кафедра биологии и методики ее преподавания с 1985 г., профессор., доктор биологических наук с 2006 года.</p>
        <p><i>Научные интересы: </i>Ботаника, сравнительная флористика, биология редких видов, охрана и рациональное
           использование растительного покрова, особо охраняемые природные территории,
            естественнонаучное и природоохранное образование.</p>
        <p><i>Направление научных исследований: </i>Флора Средней России,
           флора сосудистых растений бассейна Оки,
            ценные ботанические территории Средней России, региональные Красные книги,
             изучение и сохранение редких видов растений в условиях культуры, флора города,
              проектирование особо охраняемых природных территорий в Рязанской области,
               интерактивные методы обучения в охране природы.</div>
    </div>
    
{% endblock %}
